<%- include('partials/header.ejs') %>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3" style="border: 3px solid rgb(8, 8, 8); ">
                <div class="card " style="min-height: 100vh;">
                    <div class="card-body w-100">
                        <h3>Chats criados</h3>
                        <span class="lista_chat"></span>
                        <!-- <div class="list-group"> <a href="#" class="list-group-item
                        list-group-item-action active" aria-current="true"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small>3
                        days ago</small> </div> <p class="mb-1">Some placeholder content in a
                        paragraph.</p> <small>And some small print.</small> </a> <a href="#"
                        class="list-group-item list-group-item-action"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between"> <h5 class="mb-1">List group
                        item heading</h5> <small class="text-muted">3 days ago</small> </div> <p
                        class="mb-1">Some placeholder content in a paragraph.</p> <small
                        class="text-muted">And some muted small print.</small> </a> <a href="#"
                        class="list-group-item list-group-item-action"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 "> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="height: 100%;">
                <% if(ProcuraUtilizadores){ %>
                    <%- include('partials/mostraUsers.ejs') %>
                    <% }else{%>
                        <div class="card" style="border: 3px solid black;">
                            <div class="scrollable" style="overflow-y: auto; max-height: 75vh;">
                                <div id="messagens" class="card-body" style="min-height: 75vh;"></div>
                            </div>
                        </div>
                        <div class="card" style="border: 3px solid black; min-height: 25vh; ">
                            <div class="card-body row" style="height:100%;">
                                <div class="col-lg-10">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                                <div class="col-lg-2">
                                    <button
                                        type="button"
                                        id="botao"
                                        class="btn btn-primary btn-lg"
                                        style="height: 100%;">ENVIAR</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-2" style="height: 100%;">
                    <div class="card" style="min-height: 100vh;">
                        <div class="card-body" style="min-height: 75vh;">
                            <h3>Amigos</h3>
                            <span class="lista_amigos"></span>

                        </div>
                    </div>
                </div>
            </div>

            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous"></script>

            <script
                src="https://cdn.socket.io/3.1.3/socket.io.min.js"
                integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
                crossorigin="anonymous"></script>

            <script>
                lista_de_amigos()

                function lista_de_amigos() {
                    $.post("./lista_amigos", (data) => {
                        if (JSON.stringify(data) == JSON.stringify({})) {
                            $('.lista_amigos').empty()
                            $(".lista_amigos").append('<p>NÃO TEM AMIGOS AINDA :C</p>')
                            $(".lista_amigos").append(
                                '<div class="d-grid gap-2"><button class="btn btn-primary" type="button" onclic' +
                                'k="procurar_amigos()">Adicionar amigos</button></div>'
                            )
                        }
                        else {
                            console.log(data)
                            $('.lista_amigos').empty()
                            data.forEach(element => {
                                $(".lista_amigos").append('<p>'+element.name+'</p>')
                            })
                            
                            $(".lista_amigos").append(
                                '<div class="d-grid gap-2"><button class="btn btn-primary" type="button" onclic' +
                                'k="procurar_amigos()">Adicionar amigos</button></div>'
                            )
                        }
                    })
                }

                function procurar_amigos() {
                    $('.lista_amigos').empty()
                    $(".lista_amigos").append('<div class="input-group mb-3">')
                    $(".lista_amigos").append(
                        '<input type="text" id="procurar_amigos" class="form-control" aria-label="Pesqu' +
                        'isar amigos" aria-describedby="button-addon2">'
                    )
                    $(".lista_amigos").append('<span id="_lista_amigos"></span>')
                    $(".lista_amigos").append(
                        '<br><div class="d-grid gap-2"><button type="button" class="btn btn-info" oncli' +
                        'ck="lista_de_amigos()">Back</button></div>'
                    )
                    $(".lista_amigos").append('</div>')
                    procurar_amigos_find()
                }

                function add_amigo(nome) {
                    console.log(nome)
                    $.post("./add_amigos", {
                        name: nome
                    }, (data) => {
                        console.log(data)
                    })
                    lista_de_amigos()
                }

                function procurar_amigos_find() {
                    $('#procurar_amigos').keyup(function () {
                        $('#_lista_amigos').empty()
                        if ($('#procurar_amigos').val() != "") {
                            $('#_lista_amigos').append(
                                '<div id="load_friends" class="spinner-border" role="status"></div>'
                            )
                            $.post("./find_friends", {
                                friends: $('#procurar_amigos').val()
                            }, (data) => {
                                data.forEach(element => {
                                    $('#_lista_amigos').empty()
                                    $("#_lista_amigos").append("<br>" + element.name + " ")
                                    $('#_lista_amigos').append('<button id="add_amigo_btn" type="button" class="btn btn-info" onclick="add_amigo('+"'"+element.name+"'"+')">add</button><br>')
                                })
                                $('#load_friends').remove()
                            })
                        }
                        $('#_lista_amigos').empty()
                    })
                }

                

                let socket = io();

                socket.on('connect', function () {
                    socket.emit('join', 'dddsdjkfh1123'); //chat room id unique to two users
                })

                $("#botao").click(function () {
                    let textArea = $("#exampleFormControlTextarea1").val();
                    if (textArea) {
                        socket.emit('message', {
                            room: 'dddsdjkfh1123',
                            message: textArea,
                            name: "nome"
                        });
                        $("#exampleFormControlTextarea1").val("");
                    }
                })

                socket.on('message', function (msg) {
                    console.log(msg)
                    let scroll = document.querySelector(".scrollable")
                    $("#messagens").append(
                        '<div>' + utilizador.innerHTML + '</div><div>' + msg.message + '</div>'
                    )
                    scroll.scrollTo(0, document.body.scrollHeight);
                })
            </script>
            <%- include('partials/footer.ejs') %>