<%- include('partials/header.ejs') %>
<div class="maingrid">
    <div class="conversas">
        <h3 class="titulo">Conversas</h3>
        <span class="lista_chat"></span>
    </div>
    <div class="content-mensagens">
       
        <div class="scrollable">
            <div id="messagens" class="mensagem" ></div>
        </div> 
     
        <div class="writtinZone">
            <textarea class="textArea form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            <div class="icons"> emojis e mandar ficheiros</div>
            <button
                type="button"
                id="botao"
                class="send btn btn-primary btn-lg"
                >ENVIAR
            </button>
        </div>
    </div>

    <div class="pessoasOnline">
        <h3 class="titulo" >Amigos</h3>
        <span class="lista_amigos"></span>
        <div id="btn_pendentes" class="card-footer invisible">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" style="margin-left: auto; margin-right: auto; ">
                    <button id="_btn_pendentes_"class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" onclick="__amigos_pend_mod()">Pedidos pendentes <span id="btn_pendentes_"
                            class="badge bg-secondary"></span></button>
                </form>
            </nav>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_ped_pend" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="../Js/MainJs.js"></script>
