<%- include('partials/header.ejs') %>
<div class="maingrid">
    <div class="conversas">
        <h3 class="titulo">Conversas</h3>
        <span class="lista_chat list-group"></span>
    </div>
    <div class="content-mensagens">

    

    </div>

    <div class="pessoasOnline">
        <h3 class="titulo">Amigos</h3>
        <span class="lista_amigos"></span>
        <div id="btn_pendentes" class="card-footer invisible">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" style="margin-left: auto; margin-right: auto; ">
                    <button id="_btn_pendentes_" class="btn btn-sm btn-outline-secondary" type="button"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="__amigos_pend_mod()">Pedidos
                        pendentes <span id="btn_pendentes_" class="badge bg-secondary"></span></button>
                </form>
            </nav>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal_ped_pend" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal entrar no convite-->
  <div class="modal fade" id="_aceitar_convite" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="_aceitar_convite_title" class="modal-title" id="staticBackdropLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="_aceitar_convite_body" class="modal-body">
            <p>Chat criado por:</p>
            <p>Aceita entrar neste chat ??</p>
        </div>
        <div id="_aceitar_convite_footer" class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>
<script src="../Js/amigos.js"></script>
<script src="../Js/chat.js"></script>