<%- include('partials/header.ejs') %>
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3" style="border: 3px solid rgb(8, 8, 8); ">
            <div class="card " style="min-height: 88vh;">
                <div class="card-body w-100">
                    <h3>Conversas</h3>
                    <span class="lista_chat"></span>
                    <!-- <div class="list-group"> <a href="#" class="list-group-item
                        list-group-item-action active" aria-current="true"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small>3
                        days ago</small> </div> <p class="mb-1">Some placeholder content in a
                        paragraph.</p> <small>And some small print.</small> </a> <a href="#"
                        class="list-group-item list-group-item-action"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between"> <h5 class="mb-1">List group
                        item heading</h5> <small class="text-muted">3 days ago</small> </div> <p
                        class="mb-1">Some placeholder content in a paragraph.</p> <small
                        class="text-muted">And some muted small print.</small> </a> <a href="#"
                        class="list-group-item list-group-item-action"> <div class="d-flex w-100
                        justify-content-between"> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 "> <h5 class="mb-1">List group item heading</h5> <small
                        class="text-muted">3 days ago</small> </div> <p class="mb-1">Some placeholder
                        content in a paragraph.</p> <small class="text-muted">And some muted small
                        print.</small> </a> </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-7" style="height: 100%;">
            <% if(ProcuraUtilizadores){ %>
            <%- include('partials/mostraUsers.ejs') %>
            <% }else{%>
            <div class="card" style="border: 3px solid black;">
                <div class="scrollable" style="overflow-y: auto; max-height: 65vh;">
                    <div id="messagens" class="card-body" style="min-height: 75vh;"></div>
                </div>
            </div>
            <div class="card" style="border: 3px solid black; min-height: 14vh; ">
                <div class="card-body row" style="height:100%;">
                    <div class="col-lg-10">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" id="botao" class="btn btn-primary btn-lg"
                            style="height: 100%;">ENVIAR</button>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="col-md-2" style="height: 100%;">
            <div class="card text-center" style="min-height: 88vh;">
                <div class="card-header">
                    <h5 class="card-title">Amigos</h5>
                </div>
                <div class="card-body">


                    <span class="lista_amigos"></span>
                </div>
                <div id="btn_pendentes" class="card-footer invisible">
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline" style="margin-left: auto; margin-right: auto; ">
                            <button id="_btn_pendentes_"class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" onclick="__amigos_pend_mod()">Pedidos pendentes <span id="btn_pendentes_"
                                    class="badge bg-secondary"></span></button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_ped_pend" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="../Js/MainJs.js"></script>