<%- include('partials/header.ejs') %>
<div class="maingrid">

    <div class="conversas">
        <div class="perfilUtilizador">
            <img src="<%-UserImage.slice(7)%>" alt="imagem de perfil" width="30" height="30">
            <%- UserName %>
        </div>
        <h4>Aqui ficarão as conversas</h4> 
    </div>
    <div class="content-mensagens">
        <h4>(estas cores são apenas para demonstrar o layout da pagina) </h4>
        ficariam aqui o conteudo da conversa
        
    </div>
    <!-- <div class="pessoasOnline">
        Aqui ficarão as pessoas que se encontram online
    </div> -->
</div>
<%- include('partials/footer.ejs') %>