<%- include('partials/header.ejs') %>
    <div class="container">

        <%if (erro == 1) { %>
            Erro: O nome ou a password estão incorretas
        <% } %>

        <div class="loginForm">
            <h4>Por favor faça login</h4>
            <form action="/login" method="post">
                <input
                    type="text"
                    placeholder="Nome de utilizador..."
                    name="userName"
                    required="required"><br>
                <label for="userName"></label>
                <input
                    type="password"
                    placeholder="Password..."
                    name="userPassword"
                    required="required"><br>
                <label for="userPassword"></label>
                <input type="submit" name="submit" value="Log In"/>
            </form>
            <h4>Não tem conta? registe-se aqui
                <a href="/registo">Registe-se</a>
            </h4>
        </div>
    </div>

    <script></script>

    <%- include('partials/footer.ejs') %>