<%- include('partials/header.ejs') %>

    <div class="loginForm">
        <h4>Por favor faça login</h4>
        <form action="#">
            <label for="emailUser"></label>
            <input type="email" placeholder="Email..." name="emailUser" required><br>
            <input type="password" placeholder="Password..." name="passwordUser" required><br>
            <input type="submit" name="submit">
        </form>
        <h4>Não tem conta? registe-se aqui <a href="/registo">Registe-se</a></h4>
    </div>

<%- include('partials/footer.ejs') %>