@import "./loginRegisto";
@import "./dropdownUser";
// #313131;
// $corCorpo: #121212;
$corHeader: #000000;
$corCorpo: hsl(233, 47%, 7%);
* {
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif !important;
}

body {
    
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: radial-gradient(#243B55, #141E30); 

    // background: radial-gradient($corCorpo, )!important;
    // background: $corCorpo !important;
    color: white;
    height: 100%;
}

header {
    // overflow: hidden;
    // position: fixed;
    background-color: $corHeader;
    color: white;
    // height: 60px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    // justify-content:space-evenly;
    padding: 2px;

    .logo {
        position: relative;
        left: 15px;
    }

    h3 {
        position: relative;
        left: 25px;
    }
}


.maingrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); // ira fazer com que o grid tenha 12 colunas
    // grid-template-rows: minmax(120px, auto) repeat(5,100px);
    column-gap: normal;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-rows: 90vh;
    min-height: 90vh;
    // grid-auto-rows: minmax(90vh, 100vh);
   .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conversas{
        border-radius: 25px;
        background-color: #FAFAFA;
        grid-column: span 3;
        padding: 10px;
        margin: 5px;
        .lista_chat{
            a{
                cursor: pointer;
            }
        }
    }
    .content-mensagens{
        border-radius: 25px;
        padding: 10px;
        background-color: #FAFAFA;
        grid-column: span 7;
        margin: 5px;
        h1, h2{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        h2{
            margin-top: 50px;
        }
        .nomeUtilizadorPerfil{
            float: auto;
            font-size: 2rem !important;
            left: 0px;
            
        }
        .tituloDaConversa{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .imagePerfil{
            border: 1px solid black;
            margin: 5px;
        }
        .scrollable{
            overflow-y: auto; 
            max-height: 65vh;
            margin-bottom: 10px;
            .mensagem{
                border: 1px solid grey;
                min-height: 65vh;
                border-radius: 25px;
                .mensagemUser {
                    padding: 5px;

                    &:hover{
                        background: lightgrey;
                        border-radius: 25px;
                    }
                }
            }
        }
        .writtinZone{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 1rem;
            // grid-auto-rows: 130px;
            .textArea{
                grid-column: span 8;
                grid-row: span 4 / auto;
            }
            .icons{
                grid-column: span 4;
                grid-row: span 3 / auto;
            }
            .send{
                grid-column: span 4;
                grid-row: span 1  / auto;
            }
        }

    }

    .pessoasOnline{
        border-radius: 25px;
        grid-column: span 2;
        background-color: #FAFAFA;
        padding: 10px;
        margin: 5px;
        position: relative;
        #btn_pendentes{
            position: absolute;
            bottom: 0;
        }
        .lista_amigos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            p{
                padding: 5px; 
                &:hover{
                    
                    background-color: lightgrey;
                    color: black;
                }
            }
    
        }
        #_lista_amigos{
            button{
                margin: 15px;
            }
        }
    }

    @media screen and (max-width: 900px){
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // .conversas{
        //     display: none;
        // }
        // .pessoasOnline{
        //     display: none;
        // }
        .writtinZone{
            .textArea{
                grid-column: span 10;
                grid-row: span 1 / auto;
            }
            .send{
                grid-column: span 2;
                grid-row: span 1  ;
            }
        }
    }
}
