@import "./loginRegisto";

$corCorpo: #313131;
$corHeader: #121212;  


* {
    margin: 0;
    border: 0;
    font-family: sans-serif;
}
body{
    background-color: $corCorpo;
    color: white;
    height: 100vh;
}

header{
    background-color: $corHeader;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    // justify-content:space-evenly;
    padding: 2px;
    .logo{
        position: relative;
        left: 10px;
    }
}
.maingrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); // ira fazer com que o grid tenha 12 colunas
    height: 100vh;

    .conversas{
        background-color: red;
        grid-column: span 2;
        padding: 10px;
    }
    .content-mensagens{
        
        // display: flex;
        // justify-content:center;
        padding: 10px;
        background-color: chocolate;
        grid-column: span 8;
    }
    .pessoasOnline{
        grid-column: span 2;
        background-color: blue;
        padding: 10px;
    }
}


