.container {
  height: 90vh;
  color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .loginForm,
.container .registrationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 55px;
  background-color: #1b2e4f;
}

.container .loginForm form,
.container .registrationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .loginForm form input,
.container .registrationForm form input {
  padding: 5px;
  border: solid 1px black;
  margin: 5px;
}

.container .loginForm form .inputfile,
.container .registrationForm form .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container .loginForm form .inputfile + label,
.container .registrationForm form .inputfile + label {
  border-radius: 25px;
  padding: 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: #010b1c;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.container .loginForm form .inputfile + label:hover,
.container .registrationForm form .inputfile + label:hover {
  background-color: #010b1c;
  color: white;
}

.container .loginForm a,
.container .registrationForm a {
  color: blanchedalmond;
}

.action {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 1000;
}

.action .profile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 80px;
  right: 0px;
  padding: 10px 10px;
  background: #fff;
  width: 200px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  line-height: 1.2em;
}

.action .menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

.action .menu ul li {
  list-style: none;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.action .menu ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: tomato;
}

* {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif !important;
}

body {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: radial-gradient(#243B55, #141E30);
  color: white;
  height: 100%;
}

header {
  background-color: #000000;
  color: white;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

header .logo {
  position: relative;
  left: 15px;
}

header h3 {
  position: relative;
  left: 25px;
}

.maingrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)(12);
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: normal;
          column-gap: normal;
  min-height: 90vh;
}

.maingrid .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maingrid .conversas {
  border-radius: 25px;
  background-color: #FAFAFA;
  grid-column: span 3;
  padding: 10px;
  margin: 5px;
}

.maingrid .conversas .lista_chat a {
  cursor: pointer;
}

.maingrid .content-mensagens {
  border-radius: 25px;
  padding: 10px;
  background-color: #FAFAFA;
  grid-column: span 7;
  margin: 5px;
}

.maingrid .content-mensagens h1, .maingrid .content-mensagens h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.maingrid .content-mensagens h2 {
  margin-top: 50px;
}

.maingrid .content-mensagens .nomeUtilizadorPerfil {
  float: auto;
  font-size: 2rem !important;
  left: 0px;
}

.maingrid .content-mensagens .tituloDaConversa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maingrid .content-mensagens .imagePerfil {
  border: 1px solid black;
  margin: 5px;
}

.maingrid .content-mensagens .scrollable {
  overflow-y: auto;
  max-height: 65vh;
  margin-bottom: 10px;
}

.maingrid .content-mensagens .scrollable .mensagem {
  border: 1px solid grey;
  min-height: 65vh;
  border-radius: 25px;
}

.maingrid .content-mensagens .scrollable .mensagem .mensagemUser {
  padding: 5px;
}

.maingrid .content-mensagens .scrollable .mensagem .mensagemUser:hover {
  background: lightgrey;
  border-radius: 25px;
}

.maingrid .content-mensagens .writtinZone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)(12);
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.maingrid .content-mensagens .writtinZone .textArea {
  grid-column: span 8;
  grid-row: span 4 / auto;
}

.maingrid .content-mensagens .writtinZone .icons {
  grid-column: span 4;
  grid-row: span 3 / auto;
}

.maingrid .content-mensagens .writtinZone .send {
  grid-column: span 4;
  grid-row: span 1  / auto;
}

.maingrid .pessoasOnline {
  border-radius: 25px;
  grid-column: span 2;
  background-color: #FAFAFA;
  padding: 10px;
  margin: 5px;
}

.maingrid .lista_amigos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.maingrid .lista_amigos p {
  padding: 5px;
}

.maingrid .lista_amigos p:hover {
  background-color: lightgrey;
  color: black;
}

.maingrid #_lista_amigos button {
  margin: 15px;
}

@media screen and (max-width: 900px) {
  .maingrid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .maingrid .writtinZone .textArea {
    grid-column: span 10;
    grid-row: span 1 / auto;
  }
  .maingrid .writtinZone .send {
    grid-column: span 2;
    grid-row: span 1;
  }
}
/*# sourceMappingURL=style.css.map */