@import "./loginRegisto";
@import "./dropdownUser";
// #313131;
$corCorpo: #121212;
$corHeader: #000000;

* {
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-color: $corCorpo !important;
    color: white;
    height: 100%;
}

header {
    // overflow: hidden;
    // position: fixed;
    background-color: $corHeader;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    // justify-content:space-evenly;
    padding: 2px;

    .logo {
        position: relative;
        left: 15px;
    }

    h3 {
        position: relative;
        left: 25px;
    }
}


.maingrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); // ira fazer com que o grid tenha 12 colunas
    column-gap: normal;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 90vh;
    // grid-auto-rows: minmax(90vh, 100vh);
   .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conversas{
        border-radius: 25px;
        background-color: #FAFAFA;
        grid-column: span 3;
        padding: 10px;
        margin: 5px;
        .conversaschat{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            padding: 10px;
            border: 1px solid black;
            cursor: pointer;

            &:hover {
                background-color: lightgrey;
                color: black;
            }
        }
    }
    .content-mensagens{
        // display: flex;
        // justify-content:center;
        border-radius: 25px;
        padding: 10px;
        background-color: #FAFAFA;
        grid-column: span 7;
        margin: 5px;
        .scrollable{
            overflow-y: auto; 
            max-height: 65vh;
            margin-bottom: 10px;
            .mensagem{
                border: 1px solid grey;
                min-height: 65vh;
                border-radius: 25px;
                .mensagemUser {
                    padding: 5px;

                    &:hover{
                        background: lightgrey;
                        border-radius: 25px;
                    }
                }
            }
        }
        .writtinZone{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 1rem;
            // grid-auto-rows: 130px;
            .textArea{
                grid-column: span 8;
                grid-row: span 4 / auto;
            }
            .icons{
                grid-column: span 4;
                grid-row: span 3 / auto;
            }
            .send{
                grid-column: span 4;
                grid-row: span 1  / auto;
            }
        }

    }

    .pessoasOnline{
        border-radius: 25px;
        grid-column: span 2;
        background-color: #FAFAFA;
        padding: 10px;
        margin: 5px;
    }
    @media screen and (max-width: 600px){
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .writtinZone{
            .textArea{
                grid-column: span 10;
                grid-row: span 1 / auto;
            }
            .send{
                grid-column: span 2;
                grid-row: span 1  ;
            }
        }
    }
}
